
<div class='bg-main-light p-4 my-4'>
    <h3>Shop Cart :</h3>
    <h6>Total Cart Price :{{data2?.totalCartPrice|currency:' EGP '}}</h6>
   <div  *ngFor="let product of data?.products" class='row'>

    <div class='col-md-1'>
     <img [src]='product.product.imageCover' class='w-100' alt="" /> 
    </div>
    <div class='col-md-11 d-flex justify-content-between'>
     <div>
     <h6>{{product.product.title}}</h6>
     <h6 class='text-main'>price: {{product.price}}</h6>
     <button (click)="deletitem(product.product._id)" class='btn m-0 p-z'><i class='fa-regular fa-trash-can text-danger'></i> Remove</button>
     </div>
     <div>
      <button (click)="updateitem(product.product._id , product.count+1 );product.count = product.count+1" class='btn border-main btn-sm'>+</button>
      <span class='mx-2'>{{product.count}}</span>
      <button (click)="updateitem(product.product._id , product.count-1 );product.count = product.count-1" class='btn border-main btn-sm'>-</button>
     </div>
    </div>

</div>
  </div> 
